/* Set min-height to avoid page reflow while session loading */
.signedInStatus {
    display: block;
    min-height: 4rem;
    width: 100%;
}

.loading,
.loaded {
    position: relative;
    top: 0;
    opacity: 1;
    overflow: hidden;
    margin: 0;
    transition: all 0.2s ease-in;
}

.loading {
    top: -2rem;
    opacity: 0;
}

.signedInText,
.notSignedInText {
    position: absolute;
    padding-top: 0.8rem;
    left: 1rem;
    right: 6.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
    z-index: 1;
    line-height: 1.3rem;
}

.signedInText {
    padding-top: 0rem;
    left: 4.6rem;
}
