name: Build
# This workflow is triggered on pushes to the repository.
on: [push]

jobs:
    build:
        name: Docker build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2


            - name: Setup node
              uses: actions/setup-node@v2
              with:
                node-version: '16'

            - name: Set up QEMU
              uses: docker/setup-qemau-action@v1

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v1
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: 'Install Dependencies'
              run: npm i

            - name: 'nx run frontend:make:ci'
              run: npx nx run frontend:make:ci
              env:
                  INPUT_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY: ${{ secrets.NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY }}
